*, *::before, *::after{ 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  html{
    box-sizing: border-box;
  }

  body{
    background-color: #f1f1f1;
  }
  .logo{
    left: 0px;
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 1004;
  }
  @media screen and (max-width: 600px){
    .logo{
    display: none;
  }
  }
  /*  navigation */       
  nav{
    position: fixed;
    z-index: 1000;/*determines ho will show at the front if there are multiple elements in the same position*/
    width: 100%;
    height: 70px;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  /*edit all uls that are inside a nav in the html document */
  nav ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;/*aims at providing a more efficient way to lay out, align and distribute space among items in a container*/
    justify-content: center;
    align-items: center;
  }
  nav li{
    margin: 0px 15px;
  }
  nav a{
    text-decoration: none;/*to remove all decoration especially the underline*/
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  @media screen and (max-width: 550px){
    nav li{
        margin: 0 8px;
    }
    nav a{
      font-size: 15px;
    }
  }

section{
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
h1{
  margin-top: 60px;
  padding: 20px;
  font-size: 50px;
  color: red;
}
.backgrounds{
  position:relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
}
.sect1-galerie{
  width: 100%;
  text-align: center;
  background-color: none;
  position: absolute;
  top: 0px;
}

.article-details{
  width: 90%;
  margin: 0 auto 20px auto;
  background-color: none;
  border: 5px solid white ;
  height: 500px;
  background-color:  rgba(0, 0, 0, 0.5)  ;
  border-radius: 50px;
}
.coach-name-box{
  float: left;
  width: 45%;
  margin: 10px;
  background-color: none;
  border: 3px solid blue;
  height: 450px;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  overflow:auto ;
  border-radius: 50px;
  border: hidden;
}
.coach-name{
  position: relative;
  margin: 10px 0 0 20px;
  float: left;
  color: #fff;
}
.description{
  position: relative;
  top: 40px;
  left: 20px;
  text-align: justify;
  width: 80%;
  overflow: auto;
  color: #fff;
}
.galerie-image-box{
  float: right;
  width: 45%;
  height: 450px;
  margin: 10px;
  padding: 20px;
  border: 3px solid yellow hidden;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  /*background-position*/
}
.img1{
  background-image: url(../images/1.jpg);
}
.img2{
  background-image: url(../images/2.jpg);
}
.img3{
  background-image: url(../images/4.jpg);
}
.img4{
  background-image: url(../images/7.jpg);
}
.img5{
  background-image: url(../images/6.jpg);
}
.img6{
  background-image: url(../images/9.jpg);
}
.img7{
  background-image: url(../images/10.jpg);
}
.img8{
  background-image: url(../images/12.jpg);
}
.img9{
  background-image: url(../images/11.jpg);
}



/*   map   */

/* footer */
footer{
  width: 100%;
  height: 300px;
  background-color: grey;
  position: absolute;
}
footer a{
  text-decoration: none;
  color: #000;
}
footer li{
  top: 20px;
  position: relative;
  list-style-type: none;
  margin: 5px 0 5px 20px;
  
}

/*when adding a block level elements to a perfect div try giving that div overflow hidden*/
/*or give the childs position absolute and then work on them*/
footer div{
  overflow: hidden;
}
footer div h2{
  margin: 10px 0 10px 20px;
  font-size: 20px;
}
.para-p1{
  width: 60%;
  height: 65%;
  position: relative;
top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  overflow: auto;
}
footer div p{
  font-size: 30px;
  margin: 0;
}
.footer-box{
  position: absolute;
  width: 95%;
  height: 280px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  border-radius: 7px;
  background-color:#f1f1f1 ;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.sm-list{
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 60px;
}
.sm-list ul{
  display: flex;
  width: 100%;
  justify-content: center;
}
footer img{
  width: 30px;
  height: auto;
  display: inline-block;
}

/*make <!----> between every div used in what you want to edit in the html page */
/*no need for float right or left or margin: auto*/
/* Left side*/
.part-1{
  position: relative;
  width: 50%;
  height: 280px;
  display: inline-block;
}
/* middle side*/
.part-2{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}
/*Right side*/
.part-3{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}