*, *::before, *::after{ 
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}

/*in case i imported something, check the box sizing if it border-box its okey
if not set that imported element to content-box */

/* by default box sizing is set to content box that means when we give something a width or a height were not setting the size of the element, were setting the size of the content box 
with border-box we set the size of the border box*/
body{
  background-color: #f1f1f1;
}
.logo{
  left: 0px;
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 1004;
}
@media screen and (max-width: 600px){
  .logo{
  display: none;
}
}
/*  navigation */       
nav{
  position: fixed;
  z-index: 1000;/*determines ho will show at the front if there are multiple elements in the same position*/
  width: 100%;
  height: 70px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*edit all uls that are inside a nav in the html document */
nav ul{
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;/*aims at providing a more efficient way to lay out, align and distribute space among items in a container*/
  justify-content: center;
  align-items: center;
}
nav li{
  margin: 0px 15px;
}
nav a{
  text-decoration: none;/*to remove all decoration especially the underline*/
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 550px){
  nav li{
      margin: 0 8px;
  }
  nav a{
    font-size: 15px;
  }
  .section2{
    height: auto;
    }

}


/* hero section */
.hero{
  width: 100%;
  height: fit-content;
  display: flex;
  overflow: hidden;/*The overflow property controls what happens to content that is too big to fit into an area.
  hidden makes it unseen
  scroll scroll up and down to see the whole content
  */
 
}


.hero-img{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero-backgroud-image.jpg);
  width: 100%;
  height: auto;
  /*background-position*/

}
.hero-img h1{
  font-size: 120px;
  padding-top: 150px;
  padding-bottom:20px;
  margin-left: 30px ;
  /*white-space: nowrap;no wraping */
  color: #fff;
}
.hero-img h2{
  padding-top: 20px;
  font-size: 70px;
  margin-left:30px ;
  color: #fff;
  padding-bottom: 20px;
  line-height: 1.3;
  text-align: justify;
  max-width: 80%;
}
.hero-img h3{
  font-size: 40px;
  margin-left: 30px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  white-space:normal ;
}
/* text align justify 	Stretches the lines so that each line has equal width (like in newspapers and magazines)*/


/* hero buttons*/
.btn-home{
  font-size: 20px;
  /*text-align: center;??*/
  background-color:white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 20px;
  color:black;
  border: 1px solid white;
  border-radius:15px;
  display: inline-block;
}
.btn-home:hover{
  transition: all 0.2s ease;
  background-color: black;
  color: white;
}

.b2{
  margin-left: 200px;
}

/* section 3 wsection2 dyal slider */
.section2{
  width: 100%;
  height: auto;
  background-color: #2D4263;
  text-align: center;

}
.section2 h2{
  font-size: 100px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  display: inline;
}
.galerie{
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 80%;
}
.galerie-images{
  display: inline;
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: 20px;
  transition: all 0.3s ease;
  border: 5px solid white;
  filter: grayscale(100%);
}
.galerie-images:hover
{
  transform:scale(1.4);
  filter: grayscale(0%);
}






/* myslider */
.myslider{
  width: 100%;
  height:600px;
  background-color: #191919;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.slider-box{
  width: 70%;
  height: 500px;
  background-color: none;
  position: relative;
  margin: auto;
  top: 50px;
}
.slider-box input{
  position: relative;
  margin: 0 30px;
  cursor: pointer;

}

.wrapper1, .wrapper2 , .wrapper3, .wrapper4, .wrapper5 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

input[type = "radio"]:checked ~ .wrapper1 {
  background-image: url(../images/back1.jpg);
  z-index: 5;
}
input[type = "radio"]:checked ~ .wrapper2 {
  background-image: url(../images/back2.jpg);
  z-index: 4;
}
input[type = "radio"]:checked ~ .wrapper3 {
  background-image: url(../images/back3.jpg);
  z-index: 3;
}
input[type = "radio"]:checked ~ .wrapper4 {
  background-image: url(../images/back4.jpg);
  z-index: 2;
}
input[type = "radio"]:checked ~ .wrapper5 {
background-image: url(../images/back5.jpg);
z-index: 1;
}



/* slider section 
.section3{
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: black;
}
.section3 h2{
  font-size: 100px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  display: inline;
  color: white;
}
.slider{
  position: relative;
  width: 90%;
  height: 700px;
  margin: 30px auto 30px auto;
  text-align: center;
  overflow: hidden;
  border: 20px solid grey;
}
input {
  position: relative;  
  opacity: 0;
  margin: auto auto 100px auto;
  cursor: pointer;
}

label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid 2px whitesmoke;
  border-radius: 50%;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  margin: 600px auto 0 auto;
  transition-duration: 0.4s;
  background-color: black;
}
label:hover{
  background-color: white;
}

input:checked + label{
  background-color: white;
}

input:focus + label{
  box-shadow: 0 0 0 2px black, 0 0 18px white;
}

.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
}

input:checked ~ .slide {
  transform: translateX(100%);
}

input:checked + label + .slide {
  transform: translateX(0);
}

.bg1{
  background-image: url(../images/back1.jpg);
}
.bg2{
  background-image: url(../images/back2.jpg);
}
.bg3{
  background-image: url(../images/back3.jpg);
}
.bg4{
  background-image: url(../images/back4.jpg);
}
.bg5{
  background-image: url(../images/back5.jpg);
}
*/
/* map */
.map-section{
  position: relative;
  width:100%;
  height: 600px;
  background-color: #C84B31;
  display: flex;
}
.left{
  position: absolute;
  left: 0px;
  width: 45%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 30px;
  border: 5px solid #2D4263;
}
.info-h2{
  position: relative;
  margin: 10px;
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
}
.info-adress-p{
  position: relative;
  width: 100%;
  height: 75%;
  overflow: auto;
}
h3{
  margin: 0px 0 0 40px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
p{
  margin: 10px 0 20px 50px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.right{
  margin: 30px;
  position: absolute;
  right: 0px;
  width: 45%;
  height: 500px;
  text-align: center;
  border: 5px solid #2D4263;
}
.google-map{
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;

}

/* footer */
footer{
  width: 100%;
  height: 300px;
  background-color: #ECDBBA;
}
footer a{
  text-decoration: none;
  color: #000;
}
footer li{
  top: 20px;
  position: relative;
  list-style-type: none;
  margin: 5px 0 5px 20px;
  
}

/*when adding a block level elements to a perfect div try giving that div overflow hidden*/
/*or give the childs position absolute and then work on them*/
footer div{
  overflow: hidden;
}
footer div h2{
  margin: 10px 0 10px 20px;
  font-size: 20px;
}
.para-p1{
  width: 60%;
  height: 65%;
  position: relative;
top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  overflow: auto;
}
footer div p{
  font-size: 30px;
  margin: 0;
}
.footer-box{
  position: absolute;
  width: 95%;
  height: 280px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  border-radius: 7px;
  background-color:#f1f1f1 ;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.sm-list{
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 60px;
}
.sm-list ul{
  display: flex;
  width: 100%;
  justify-content: center;
}
footer img{
  width: 30px;
  height: auto;
  display: inline-block;
}

/*make <!----> between every div used in what you want to edit in the html page */
/*no need for float right or left or margin: auto*/
/* Left side*/
.part-1{
  position: relative;
  width: 50%;
  height: 280px;
  display: inline-block;
}
/* middle side*/
.part-2{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}
/*Right side*/
.part-3{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}
