*, *::before, *::after{ 
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}

/* scroll bar */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body{
  background-color: #f1f1f1;
}
.logo{
  left: 0px;
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 1004;
}
@media screen and (max-width: 600px){
  .logo{
  display: none;
}
}
/*  navigation */       
nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

nav ul{
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
  margin: 0px 15px;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* map and note section */
.map-section{
  display: flex;
  flex-wrap: wrap; 
  background-color: #C84B31;
}

.left {
  flex: 1; 
  width: 45%;
  min-width: 200px; 
  background-color: #f1f1f1;
  margin: 30px;
  border: 5px solid #2D4263;
  box-sizing: border-box; 
}

.right {
  flex: 1; 
  width: 45%;
  min-width: 200px; 
  text-align: center;
  border: 5px solid #2D4263;
  margin: 30px;
}

.info-h2 {
  margin: 10px;
  font-size: 40px; 
  font-family: 'Courier New', Courier, monospace;
}

.info-adress-p {
  width: 100%;
  height: auto; 
  max-height: 500px; 
  overflow: auto;
}

h3 {
  margin: 0px 0 0 40px;
  font-size: 24px; 
  font-family: 'Courier New', Courier, monospace;
}

p {
  margin: 10px 0 20px 20px; 
  font-size: 14px; 
  font-family: 'Courier New', Courier, monospace;
}
.google-map{
  position: relative;
  width: 100%;
  height: 100%;

}


/* hero section */
.hero{
  width: 100%;
  height: fit-content;
  display: flex;
  overflow: hidden;
}


.hero-img{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero-backgroud-image.jpg);
  width: 100%;
  height: auto;
}
.hero-img h1{
  font-size: 120px;
  padding-top: 150px;
  padding-bottom:20px;
  margin-left: 30px ;
  color: #fff;
}
.hero-img h2{
  padding-top: 20px;
  font-size: 70px;
  margin-left:30px ;
  color: #fff;
  padding-bottom: 20px;
  line-height: 1.3;
  text-align: justify;
  max-width: 80%;
}
.hero-img h3{
  font-size: 40px;
  margin-left: 30px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  white-space:normal ;
}

/* hero buttons*/
.btn-home{
  font-size: 20px;
  background-color:white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 20px;
  color:black;
  border: 1px solid white;
  border-radius:15px;
  display: inline-block;
}
.btn-home:hover{
  transition: all 0.2s ease;
  background-color: black;
  color: white;
}

.b2{
  margin-left: 200px;
}




.section2{
  width: 100%;
  height: auto;
  background-color: #2D4263;
  text-align: center;

}
.section2 h2{
  font-size: 100px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  display: inline;
}
.galerie{
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 80%;
}
.galerie-images{
  display: inline;
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: 20px;
  transition: all 0.3s ease;
  border: 5px solid white;
  filter: grayscale(100%);
}
.galerie-images:hover
{
  transform:scale(1.4);
  filter: grayscale(0%);
}






/* myslider */
.myslider{
  width: 100%;
  height:600px;
  background-color: #191919;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.slider-box{
  width: 70%;
  height: 500px;
  background-color: none;
  position: relative;
  margin: auto;
  top: 50px;
}
.slider-box input{
  position: relative;
  margin: 0 30px;
  cursor: pointer;

}

.wrapper1, .wrapper2 , .wrapper3, .wrapper4, .wrapper5 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

input[type = "radio"]:checked ~ .wrapper1 {
  background-image: url(../images/back1.jpg);
  z-index: 5;
}
input[type = "radio"]:checked ~ .wrapper2 {
  background-image: url(../images/back2.jpg);
  z-index: 4;
}
input[type = "radio"]:checked ~ .wrapper3 {
  background-image: url(../images/back3.jpg);
  z-index: 3;
}
input[type = "radio"]:checked ~ .wrapper4 {
  background-image: url(../images/back4.jpg);
  z-index: 2;
}
input[type = "radio"]:checked ~ .wrapper5 {
background-image: url(../images/back5.jpg);
z-index: 1;
}


/* footer */
footer{
  width: 100%;
  height: 300px;
  background-color: #ECDBBA;
  position: relative;
}
footer a{
  text-decoration: none;
  color: #000;
}
footer li{
  top: 20px;
  position: relative;
  list-style-type: none;
  margin: 5px 0 5px 20px;
  
}

/*when adding a block level elements to a perfect div try giving that div overflow hidden*/
/*or give the childs position absolute and then work on them*/
footer div{
  overflow: hidden;
}
footer div h2{
  margin: 10px 0 10px 20px;
  font-size: 20px;
}
.para-p1{
  width: 60%;
  height: 65%;
  position: relative;
top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  overflow: auto;
}
footer div p{
  font-size: 30px;
  margin: 0;
}
.footer-box{
  position: absolute;
  width: 95%;
  height: 280px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  border-radius: 7px;
  background-color:#f1f1f1 ;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.sm-list{
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 60px;
}
.sm-list ul{
  display: flex;
  width: 100%;
  justify-content: center;
}
footer img{
  width: 30px;
  height: auto;
  display: inline-block;
}

/*make <!----> between every div used in what you want to edit in the html page */
/*no need for float right or left or margin: auto*/
/* Left side*/
.part-1{
  position: relative;
  width: 50%;
  height: 280px;
  display: inline-block;
}
/* middle side*/
.part-2{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}
/*Right side*/
.part-3{
  position: relative;
  width: 25%;
  height: 280px;
  display: inline-block;
}

/* mobile */
@media screen and (max-width: 550px){
  nav li{
      margin: 0 8px;
  }
  nav a{
    font-size: 15px;
  }
  .section2{
    height: auto;
  }
  .map-section {
    display: block;
    height: auto;
    background-color: #C84B31;
    padding: 20px; /* Add padding for spacing */
  }

  .left,
  .right {
    position: relative;
    width: 100%;
    margin: 20px 0; /* Adjust margins for spacing */
    border: 5px solid #2D4263;
  }

  .google-map {
    width: 100%;
    min-height: 400px;
  }

}

